@using Alotaxi.Services
@inject LayoutService _layoutService

@{
    var settings = _layoutService.GetSettings();
    var about = _layoutService.GetAbout();
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from html.kodesolution.com/2024/taxix-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 02 Jun 2024 18:33:57 GMT -->
<head>
    <meta charset="utf-8">
    <title>Alotaxi</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="~/js/respond.js"></script><![endif]-->
</head>
<body>
    <div class="page-wrapper">

        <div class="preloader"><h1 data-text="alotaxi">Alotaxi</h1></div>

        <header class="main-header header-style-one">

            <div class="header-top">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="top-left">

                            @foreach (var setting in settings)
                            {
                                <ul class="list-style-one">
                                    <li><i class="fal fa-mobile"></i> <a href="tel:@setting.Phone">@setting.Phone</a></li>
                                    <li><i class="fal fa-envelope"></i> <a href="mailto: @setting.Email">@setting.Email</a></li>
                                </ul>
                            }

                        </div>
                        <div class="top-right">
                            @foreach (var setting in settings)
                            {
                                <ul class="social-icon-one">
                                    <li><a href="@setting.Facebook"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="@setting.Instagram"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-lower">
                <div class="auto-container">

                    <div class="main-box">
                        <div class="logo-box">
                            <div class="logo"><a asp-controller="home" asp-action="index"><img src="~/images/logo-2.png" alt="Logo"></a></div>
                        </div>

                        <div class="nav-outer">
                            <nav class="nav main-menu">
                                <ul class="navigation">
                                    <li>
                                        <a asp-action="index" asp-controller="home">Ana Səhifə</a>
                                    </li>
                                    <li>
                                        <a asp-controller="about" asp-action="index">Haqqımızda</a>
                                    </li>
                                    <li><a asp-controller="service" asp-action="index">Xidmətlərimiz</a></li>
                                    <li><a asp-controller="business" asp-action="index">Korporativ</a></li>
                                    <li><a asp-controller="contact" asp-action="index">Əlaqə</a>
                                    <li class="dropdown">
                                        <a>Məxfilik Siyasəti</a>
                                        <ul>
                                            <li><a asp-action="costumer" asp-controller="privacypolicy">Müştəri</a></li>
                                            <li><a asp-action="driver" asp-controller="privacypolicy">Sürücü</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </nav>
                        </div>


                        <div class="outer-box">

                            @* <button class="ui-btn search-btn light"> <span class="icon lnr lnr-icon-search"></span> </button> *@

                            <div class="btn-box"> <a asp-controller="contact" asp-action="index" class="theme-btn btn-style-one dark-line-two hover-light"><span class="btn-title">Elə indi əlaqə saxla</span></a> </div>

                            <div class="mobile-nav-toggler light"><span class="icon lnr-icon-bars"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mobile-menu">
                <div class="menu-backdrop"></div>

                <nav class="menu-box">
                    <div class="upper-box">
                        <div class="nav-logo"><a asp-action="index" asp-controller="home"><img src="~/images/logo-2.png" alt title></a></div>
                        <div class="close-btn"><i class="icon fa fa-times"></i></div>
                    </div>
                    <ul class="navigation clearfix">
                    </ul>
                    <ul class="contact-list-one light">
                        <li>
                            <i class="icon lnr-icon-phone-handset"></i> <span class="title">Pulsuz Zəng Et</span>
                            @foreach (var item in settings)
                            {
                                <div class="text"><a href="tel:@item.Phone">@item.Phone</a></div>

                            }
                        </li>
                        <li>
                            <i class="icon lnr-icon-envelope1"></i> <span class="title">Bizə Yaz</span>
                            @foreach (var item in settings)
                            {
                                <div class="text"><a href="mailto: @item.Email">@item.Email</a></div>

                            }
                        </li>
                        <li>
                            <i class="icon lnr-icon-map-marker"></i> <span class="title">Ünvan</span>
                            @foreach (var item in settings)
                            {
                                <div class="text">@item.Address</div>

                            }
                        </li>
                    </ul>
                    <ul class="social-links">
                        @foreach (var item in settings)
                        {
                            <li><a href="@item.Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="@item.Instagram"><i class="fab fa-instagram"></i></a></li>
                        }
                    </ul>
                </nav>
            </div>


          @*   <div class="search-popup">
                <span class="search-back-drop"></span>
                <button class="close-search"><span class="fa fa-times"></span></button>
                <div class="search-inner">
                    <form method="post">
                        <div class="form-group">
                            <input type="search" name="search-field" value placeholder="Search..." required>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div> *@


            <div class="sticky-header">
                <div class="auto-container">
                    <div class="inner-container">

                        <div class="logo"> <a asp-action="index" asp-controller="home" title><img src="~/images/logo.png" alt title></a> </div>

                        <div class="nav-outer">

                            <nav class="main-menu">
                                <div class="navbar-collapse show collapse clearfix">
                                    <ul class="navigation clearfix">
                                    </ul>
                                </div>
                            </nav>


                            <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        @RenderBody();

        <footer class="main-footer footer-style-one">
            <div class="bg bg-image" style="background-image: url(images/background/2.jpg);"></div>

            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row">

                        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                            <div class="footer-widget about-widget">
                                <h5 class="widget-title">Haqqımızda</h5>
                                <div class="widget-content">
                                    @foreach (var item in about)
                                    {
                                        <div class="text">@item.Detail</div>

                                    }
                                </div>
                            </div>
                        </div>

                        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5 class="widget-title">Əlaqə Məlumatları</h5>
                                <div class="widget-content">
                                   @foreach (var item in settings)
                                    {
                                        <ul class="contact-list-two light">
                                            <li><i class="fal fa-map-marker-alt"></i>@item.Address</li>
                                            <li><i class="fal fa-mobile"></i> <a href="tel:@item.Phone">@item.Phone</a></li>
                                            <li><i class="fal fa-envelope-open"></i><a href="mailto: @item.Email">@item.Email</a></li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                            <div class="footer-widget newsletter-widget">
                                <h4 class="widget-title">Səhİfələr</h4>
                                <div class="widget-content">
                                    <button type="button" asp-action="index" asp-controller="service"  class="theme-btn btn-style-one dark-line-two hover-light"><span class="btn-title">Xidmətlərimiz</span></button>
                                    <button type="button" asp-action="index" asp-controller="about" style="padding: 24px 80px 20px 60px;" class="theme-btn btn-style-one dark-line-two hover-light"><span class="btn-title">Haqqımızda</span></button>
                                    <button type="button" asp-action="index" asp-controller="contact" style="padding: 24px 102px 20px 60px;" class="theme-btn btn-style-one dark-line-two hover-light"><span class="btn-title">Əlaqə</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="copyright-text">© Created by <a href="mailto: elmaddinshm@code.edu.az">Elmeddin Mirzeyev.</a> </div>
                        <ul class="footer-nav">
                            @foreach (var item in settings)
                            {
                                <li><a href="@item.Facebook"><i class="fab fa-facebook"></i> Facebook</a></li>

                            }
                            @foreach (var item in settings)
                            {

                                <li><a href="@item.Instagram"><i class="fab fa-instagram"></i> Instagram</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>

    <script src="~/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/js/main-slider-script.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/gsap.min.js"></script>
    <script src="~/js/ScrollTrigger.min.js"></script>
    <script src="~/js/splitType.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/odometer.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/script.js"></script>
</body>

<!-- Mirrored from html.kodesolution.com/2024/taxix-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 02 Jun 2024 18:34:35 GMT -->
</html>
