@model AboutPageViewModel

<section class="about-section">

    <div class="auto-container">
        <div class="row">

            <div class="content-column col-lg-6 order-lg-2" data-aos="fade-left">
                <div class="inner-column">
                    @foreach (var about in Model.Abouts)
                    {
                        <div class="sec-title">
                            <span class="sub-title">@about.Title</span>
                            <h3 class="letters-slide-up text-split">@about.BigTitle</h3>
                            <div class="text">@about.Detail</div>
                        </div>
                    }
                    <ul class="list-style-two">
                        @foreach (var item in Model.Categories)
                        {
                            <li>@item.CategoryName <br /> @item.Description</li>
                        }
                    </ul>

                </div>
            </div>

            @foreach (var about in Model.Abouts)
            {
                <div class="image-column col-lg-6">
                    <div class="inner-column">
                        <figure class="image reveal"><img src="~/uploads/about/@about.BigImage" alt="Image"></figure>
                        <figure class="image-2 reveal"><img src="~/uploads/about/@about.Image" alt="Image"></figure>
                    </div>
                </div>
            }
        </div>
    </div>


</section>


<section class="service-section-two">
    <div class="bg bg-pattern-1"></div>
    <div class="auto-container">
        <div class="work-tabs tabs-box">
            <div class="row">

                <div class="btn-column col-lg-4 col-md-4 col-md-12">
                    <div class="inner-column">
                        <div class="sec-title light">
                            <h2 class="letters-slide-up text-split">7/24 <br>Xidmətinizdə</h2>
                        </div>
                        <ul class="tab-btns tab-buttons">
                            @{
                                int counter = 0;
                            }
                            @foreach (var item in Model.Categories)
                            {
                                <li class="tab-btn @(counter == 0 ? "active-btn" : "")" data-tab="@("#tab" + item.Id)">@item.CategoryName <i class="icon fa fa-angle-double-right"></i></li>

                                counter++;
                            }
                        </ul>
                    </div>
                </div>

                <div class="image-column col-lg-8 col-md-8 col-md-12">
                    <div class="inner-column">
                        <div class="tabs-content">

                            @{
                                int counter1 = 0;
                            }
                            @foreach (var item in Model.Categories)
                            {
                                <div class="tab @(counter1 == 0 ? "active-tab" : "")" id="@("tab" + item.Id)" data-tab="@("#tab" + item.Id)">
                                    <div class="image-box">
                                        <div class="inner-box">
                                            <figure class="image"><img src="~/uploads/categories/@item.Image" alt="Image"></figure>
                                            <div class="exp-box" >
                                                <div class="text">@item.Description</div>
                                                <a asp-action="index" asp-controller="contact" class="read-more">Əlaqə</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                counter1++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


