@model HomeViewModel

<section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>

                @foreach (var slider in Model.Sliders)
                {
                    <li data-index="rs-1" data-transition="zoomout">

                        <img src="~/uploads/sliders/@slider.Image" alt class="rev-slidebg">
                        <div class="tp-caption" data-paddingbottom="[15,15,15,15]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['1920','900','750','450']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['-91','-91','-91','-91']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <h1 class="title">@slider.Title</h1>
                        </div>
                        <div class="tp-caption" data-paddingbottom="[15,15,15,15]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['900','900','750','450']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['55','55','55','55']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <div class="text">@slider.Description</div>
                        </div>
                        <div class="tp-caption" data-paddingbottom="[15,15,15,15]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['900','900','750','450']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['155','155','140','160']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <a href="@slider.BtnUrl" class="theme-btn btn-style-one dark-line"><span class="btn-title">@slider.ButtonText</span></a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>


<section class="service-section">
    <div class="auto-container">
        <div class="outer-box">
            <div class="row">
                <div class="sec-title text-center">
                    <span class="sub-icon"></span>
                    <span class="sub-title">7/24 xidmətinizdəyik</span>
                    <h2 class="letters-slide-up text-split">Daha Sərfəlisi Yoxdur!</h2>
                </div>
                
               @foreach (var whyUs in Model.WhyUs)
                {
                    <div class="service-block col-lg-4 col-md-6" data-aos="fade-up">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img src="~/uploads/whyUs/@whyUs.Image" alt="Image"></figure>
                            </div>
                            <div class="content">
                                <h4 class="title"><a href="page-service-details.html">@whyUs.Title</a></h4>
                                <div class="text">
                                    @whyUs.Description
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>


<section class="pricing-section">
    <div class="auto-container">
        <div class="bg bg-pattern-5"></div>
        <div class="sec-title text-center">
            <span class="sub-icon"></span>
            <span class="sub-title">İstəklərinizə uyğun</span>
            <h2 class="letters-slide-up text-split">Təkliflərimiz</h2>
        </div>
        <div class="outer-box" data-aos="fade-left">
            <div class="pricing-carousel owl-carousel owl-theme default-dots">

                @foreach (var item in Model.Suggestions)
                {
                    <div class="pricing-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <img src="~/uploads/suggestion/@item.Image" alt="Image">
                            </div>
                            <div class="content">
                                <div class="car-detail" style="display:flex; justify-content:space-between">
                                    <h4 class="car-name" style="display:flex; align-items:center;">@item.Name</h4>
                                    <ul class="feature-list" style="padding:0px; margin:0; display:flex; flex-direction:column; align-items:center">
                                        <li class="fas fa-users" style="padding:0px; margin:0;"></li>
                                        <li style="padding:0px; margin:0;">  @item.PersonCount nəfər</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>




<section class="funfact-section">
    <div class="auto-container">
        <div class="fact-counter">
            @foreach (var statistic in Model.Statistics)
            {
                <div class="row">

                    <div class="counter-block col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon flaticon-connected-car"></i></div>
                            <div class="counter-one"><span class="odometer" data-count="@statistic.CarCount"></span></div>
                            <h4 class="counter-text">Avtomobil</h4>
                        </div>
                    </div>

                    <div class="counter-block col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="icon-box two"><i class="icon flaticon-destination"></i></div>
                            <div class="counter-one"><span class="odometer" data-count="@statistic.RoadCount"></span></div>
                            <h4 class="counter-text">Yolda Olan Sifariş</h4>
                        </div>
                    </div>

                    <div class="counter-block col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="icon-box three"><i class="icon flaticon-location"></i></div>
                            <div class="counter-one"><span class="odometer" data-count="@statistic.LocationCount"></span></div>
                            <h4 class="counter-text">Müştəri</h4>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>


<section class="app-section" id="app">
    <div class="auto-container">
        <div class="outer-box">
            <div class="bg bg-image" style="background-image: url(images/background/3.jpg);"></div>
            <div class="icon-car-3 bounce-x"></div>
            <div class="bg-overlay-2"></div>
            <div class="content">
                <h1 class="title letters-slide-up text-split">Elə indi <br> <span class="colored">«Alo Taksi»</span>ni <br> telefonunuza<br> yükləyin</h1>
                <div class="text">Sərfəli və rahat səfərdən zövq alın</div>
               @foreach (var setting in Model.Settings)
                {
                    <div class="btn-box">
                        <a href="@setting.PlayStore" class="image"><img src="~/images/icons/google-play.png" alt="Image"></a>
                        <a href="#" class="image"><img src="~/images/icons/app-store.png" alt="Image"></a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

